.squaredCategoriesHighlights:only-child,
.rectangularCategoriesHighlights:only-child {
  display: block;
}

.squaredCard,
.rectangularCard {
  height: 9.375rem;
  margin: 5px 10px;
}

.squaredCard {
  width: 9.375rem;
}

.rectangularCard {
  width: 18.075rem;
}

.squaredCard,
.rectangularCard a {
  text-decoration: none;
}

.squaredCardImage {
  width: 9.375rem;
}

.rectangularCardImage {
  width: 18.075rem;
}

.logoContainer {
  padding: 0;
}

.squaredCard {
  box-shadow: unset;
}

.squaredCard:hover {
  box-shadow: 0 0 4px 2px rgba( 0, 0, 0, .1 );
}
